{% extends 'hod_template/base_template.html' %}

{% block main_content %}
{% load static %}

   <form role="form" action="/add_student_save" method="post" enctype="multipart/form-data">
            	<div id="wizard">
            		<!-- SECTION 1 -->
	                <h1>Add Student Information</h1>
	                <section>
	                	<div class="form-header">
							<div class="avartar">

									<img src="{% static "images/avartar.png" %}">
							</div>

							<div class="form-group">
								<div class="form-holder">
									<label>First Name</label>
									<input type="text" name="first_name" placeholder="First Name" class="form-control">
								</div>
								<div class="form-holder">
									<label>Last Name</label>
									<input type="text" name="last_name" placeholder="Last Name" class="form-control">
								</div>
								<div class="form-holder">
									<label>Username</label>
									<input type="text" placeholder="Username" name="username" class="form-control">
								</div>
							</div>
	                	</div>
	                	<div class="form-holder">
							<label>Email</label>
							<input type="text" name="email" placeholder="Enter email" class="form-control">
						</div>
						<div class="form-holder">
							<label>Password</label>
							<input type="password" name="password" placeholder="Password" class="form-control">
						</div>
						<div class="form-holder">
							<label>Address</label>
							<input type="text" placeholder="Address" name="address" class="form-control">
						</div>
						<div class="form-holder">
							<label>Registration No</label>
							<input type="text" placeholder="Registration" name="registration" class="form-control">
						</div>

						<div class="form-holder">
							<label>Department</label>
							<select  name="department" class="form-control">

                            {% for department in departments %}
                              <option value="{{ department.id }}" placeholder="Choose Department">{{ department.department_name }}</option>
                            {% endfor %}

                        </select>
						</div>
						<div class="form-holder">
							<label>Sex</label>
                        <select name="sex" class="form-control">

                            <option>Male</option>
                            <option>Female</option>

                        </select>
						</div>
                         <div>
							 <div class="form-holder">
                    			<label>Session Year</label>
                        		<select class="form-control" name="session" >

									{% for session in sessions %}
									  <option value="{{ session.id }}" placeholder="Choose Session Year">{{ session.session_start_year|date:"Y"}} - {{ session.session_end_year|date:"Y"}}</option>
									{% endfor %}

                        		</select>
                    		</div>
							 <div class="choose_file">
							<label>Profile Picture</label>
									<input type="file" class="up-box" name="profile_pic" />
								</div>
                         <div>
					 <div class="form-group">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == "success" %}
                                <div style="margin-top:10px">{{ message }}</div>
                                {% endif %}

                            {% endfor %}
                        {% endif %}
                    </div>
                        {% csrf_token %}
						<div class="button">
							<button type="submit">Add Student</button>
						</div>
	                </section>

					<!-- SECTION 2 -->

	                <!-- SECTION 3 -->

            	</div>
            </form>

    <!-- /.content -->
{% endblock main_content %}
